@import 'variables';

@media #{$tablet} {

}

@media #{$desktop} {

}


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  position: relative;
  width: $mobile-width;
  height: 540px;
  margin: 0 auto;
  @media #{$tablet} {
    width: $tablet-width;
    height: 700px;
  }

  @media #{$desktop} {
    width: $desktop-width;
    height: 700px;

  }
}

h3 {
  width: 300px;
  margin: 0 auto;
  @include main_text (700, 22px, $g_text_color_black);

  line-height: 25px;
  text-align: center;

  margin-bottom: 15px;
  margin-top: 35px;

  @media #{$tablet} {
    margin-top: 95px;
    width: 600px;
  }

  @media #{$desktop} {

  }
}

// Promo

.promo {
  width: 100%;
  height: 540px;
  background: url(../../img/backgroung_promo_full.jpg);
  background-color: $g_main_color;
  background-color: #ff4e50;
  background-position: center -12px; // -420px нужно подменить для мобильной версии
  background-repeat: no-repeat;
  background-size: auto 552px;

  @media #{$tablet} {
    // width: 100%;
    height: 700px;
    background-position: center center;
    background-size: auto auto;
  }

  @media #{$desktop} {
    width: $desktop-width;
  }

}

.promo__urla {
  position: relative;
  @include main_text (bold, 20px, $g_text_color_white);
  text-align: center;
  text-transform: uppercase;

  top: 173px;
  letter-spacing: 1.3px;

  @media #{$tablet} {
    position: absolute;
    text-align: left;
    top: 47px;
    left: 49px;
    letter-spacing: 1px;
  }

  @media #{$desktop} {

  }
}

.promo__login {
  position: relative;
  @include main_text (500, 14px, $g_text_color_white);
  width: 50px;
  cursor: pointer;

  top: 11px;
  left: 83px;

  @media #{$tablet} {
    position: absolute;
    top: 49px;
    left: 567px;
  }

  @media #{$desktop} {

  }
}

.promo__signup {
  position: relative;
  width: 90px;
  height: 36px;
  border: 2px solid $g_text_color_white;
  @include roundedCorners(18);
  cursor: pointer;

  top: -14px;
  left: 145px;

  @media #{$tablet} {
    position: absolute;
    top: 37px;
    left: 628px;
  }

  @media #{$desktop} {

  }

  p {
    position: relative;
    @include main_text (500, 14px, $g_text_color_white);

    top: 9px;
    left: 16px;
  }
}

.promo__title {
  position: relative;
  width: 320px;
  @include main_text (bold, 30px, $g_text_color_white);
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  margin: 0 auto;
  top: 154px;
  line-height: 35px;

  @media #{$tablet} {
    font-size: 50px;
    line-height: 63px;
    letter-spacing: 1.0px;

    width: 565px;
    top: 214px;
  }

  @media #{$desktop} {

  }
}

.promo__subtitle {
  position: relative;
  width: 220px;
  @include second_text (300, 18px, $g_text_color_white);
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
  top: 165px;

  @media #{$tablet} {
    font-size: 24px;
    line-height: 30px;
    width: 565px;

    top: 236px;
  }

  @media #{$desktop} {

  }
}

.promo__button {
  @include main_button (280, 40, $g_main_color);
  cursor: pointer;
  top: 182px;

  p {
    position: relative;
    @include main_text (500, 14px, $g_text_color_white);

    top: 14px;
    text-align: center;
  }

  @media #{$tablet} {
    @include main_button (226, 40, $g_main_color);
    top: 270px;

  }

  @media #{$desktop} {

  } //end Media queries
}

// How It works

.hiw {
  @media #{$tablet} {
    display: inline-block;
  }

  @media #{$desktop} {
    display: inline-block;
  }

}

.hiw__block {
  display: table-cell;
  vertical-align: bottom;
  width: 300px;
  height: 240px;
  margin: 0 auto;

  padding-left: 20px;

  @include roundedCorners(4);
  @include linearGradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));

  h4 {
     @include main_button (70, 20, $g_main_color);
     @include main_text (400, 10px, $g_text_color_white);

     text-align: center;
     text-transform: uppercase;
     letter-spacing: 2px;
     padding-top: 6px;

     margin: 0;
     left: 1px;
     margin-bottom: 5px;
  }

  h5 {
    width: 260px;
    max-height: 81px;
    overflow: hidden;
    @include main_text (500, 24px, $g_text_color_white);
    line-height: 29px;

    padding-top: 10px;
    padding-bottom: 14px;

    @media #{$tablet} {
      width: 216px;
    }
  }

  p {
    width: 260px;
    @include second_text (300, 14px, $g_text_color_light);
    line-height: 16px;

    padding-bottom: 17px;

    @media #{$tablet} {
      width: 216px;
    }
  }

  @media #{$tablet} {
    width: 236px;
    height: 400px;
  }

  @media #{$desktop} {

  } //end Media queries
}

.hiw__block__step1 {
  width: 300px;
  height: 240px;
  margin: 0 auto 10px auto;
  @include roundedCorners(4);
  background-image: url("../../img/sec_step1.jpg");
  @include image-2x("../../img/sec_step1.jpg", 300, 240);

  background-repeat: no-repeat;
  background-size: cover;

  @media #{$tablet} {
    float: left;
    width: 236px;
    height: 400px;

    margin: 20px 10px 0 10px;
  }

  @media #{$desktop} {

  } //end Media queries
}

.hiw__block__step2 {
  width: 300px;
  height: 240px;
  margin: 0 auto 10px auto;
  @include roundedCorners(4);
  background-image: url('../../img/sec_step2.jpg');
  @include image-2x("../../img/sec_step2.jpg", 300, 240);

  background-repeat: no-repeat;
  background-size: cover;

  @media #{$tablet} {
    float: left;
    width: 236px;
    height: 400px;

    margin: 20px 10px 0 10px;
  }

  @media #{$desktop} {

  } //end Media queries
}

.hiw__block__step3 {
  width: 300px;
  height: 240px;
  margin: 0 auto 10px auto;
  @include roundedCorners(4);
  background-image: url("../../img/sec_step3.jpg");
  @include image-2x("../../img/sec_step3.jpg", 300, 240);

  background-repeat: no-repeat;
  background-size: cover;

  @media #{$tablet} {
    float: left;
    width: 236px;
    height: 400px;

    margin: 20px 10px 0 10px;
  }

  @media #{$desktop} {

  } //end Media queries
}

// Partners

.partners{


  @media #{$tablet} {
    width: 600px;
    display: inline-block;
    text-align: center;

    margin-left: 122px;
    margin-top: 16px;
  }

  @media #{$desktop} {

  } //end Media queries

}

.partners__block {
  position: relative;

  h4 {
    width: 300px;
    margin: 0 auto;
    @include main_text (700, 14px, $g_text_color_black);
    text-align: center;
    line-height: 29px;

    padding-top: 12px;
    padding-bottom: 9px;

    @media #{$tablet} {
      position: relative;
      top: 121px;
      width: 256px;
      padding-left: 24px;
      padding-right: 14px;
    }

    @media #{$desktop} {

    } //end Media queries

  }

  p {
    width: 218px;
    margin: 0 auto;
    @include second_text (300, 14px, $g_text_color_body);
    line-height: 16px;
    text-align: center;

    padding-bottom: 25px;

    @media #{$tablet} {
      width: 256px;
      position: relative;
      top: 119px;
      padding-left: 24px;
      padding-right: 14px;
    }

    @media #{$desktop} {

    } //end Media queries
  }

  @media #{$tablet} {
    position: relative;
    width: 256px;
    height: 260px;
    overflow: hidden;
    float: left;
  }

  @media #{$desktop} {

  } //end Media queries
}

.partners__photo {
  margin: 0 auto;

  @media #{$tablet} {
    display: inline-block;
  }

  @media #{$desktop} {

  } //end Media queries

}

.partners__photo1 {
  width: 122px;
  height: 122px;
  background-image: url("../../img/person-1.jpg");
  @include roundedCorners(61);

  @media #{$tablet} {
    position: absolute;
    left: 74px;
  }

  @media #{$desktop} {

  } //end Media queries

}
.partners__photo2 {
  width: 122px;
  height: 122px;
  background-image: url("../../img/person-2.jpg");
  @include roundedCorners(61);

  @media #{$tablet} {
    position: absolute;
    left: 74px;
  }

  @media #{$desktop} {

  } //end Media queries
}

.partners__photo3 {
  width: 122px;
  height: 122px;
  background-image: url("../../img/person-3.jpg");
  @include roundedCorners(61);

  @media #{$tablet} {
    position: absolute;
    left: 74px;
  }

  @media #{$desktop} {

  } //end Media queries
}

.partners__photo4 {
  width: 122px;
  height: 122px;
  background-image: url("../../img/person-4.jpg");
  @include roundedCorners(61);

  @media #{$tablet} {
    position: absolute;
    left: 74px;
  }

  @media #{$desktop} {

  } //end Media queries
}

.partners__interest {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 85px;
  left: 159px;
  @include roundedCorners(20);
  border: 4px solid white;

  img {
    display: block;
    margin: 0 auto;
    padding-top: 7px;
  }
}

.partners__interest1 {
  background-color: $g_main_color;
}

.partners__interest2 {
  background-color: $g_secondary_color1;
}

.partners__interest3 {
  background-color: $g_secondary_color2;
}

.partners__interest4 {
  background-color: $g_secondary_color3;
}

.partners__search {
  @include main_button (280, 40, $g_background_color);
  margin: 2px auto;
  border: 2px solid $g_main_color;

  input {
    display: block;
    position: relative;
    width: 240px;
    margin: 10px auto;
    @include main_text (500, 14px, $g_text_color_black);
    text-align: center;

    border: 0px solid transparent;

    @media #{$tablet} {
      width: 176px;
      margin: 8px auto;
    }

    @media #{$desktop} {

    } //end Media queries

    &::-webkit-input-placeholder {
    @include main_text (500, 14px, $g_main_color);
    text-align: center;
    }
  }

  @media #{$tablet} {
    width: 192px;
    margin: 9px auto;

  }

  @media #{$desktop} {

  } //end Media queries
}

// Ideas

.ideas {

}

.ideas__block {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 120px;
  margin: 0 auto 10px auto;
  padding-bottom: 10px;

  background-color: $g_text_color_black;
  @include roundedCorners(4);
  cursor: pointer;

  img {
    position: absolute;
    float: left;
    width: 300px;
    @include roundedCorners(4);
    @include opacity(0.7);
  }

  p {
    position: relative;
    width: 250px;
    height: 120px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    @include main_text (500, 22px, $g_text_color_white);
    text-align: center;
  }

}

// Serch Ideas

.ideas_search {
  padding-bottom: 20px;

  @media #{$tablet} {
    padding-bottom: 20px;
  }

  @media #{$desktop} {

  } //end Media queries

  h4 {
    width: 300px;
    margin: 0 auto;
    @include second_text (300, 18px, $g_text_color_black);
    text-align: center;
  }

  .ideas_search__form {
    input {
      width: 280px;
      height: 40px;
      margin: 17px auto 10px 20px;
      @include roundedCorners(4);
      border: 1px solid $g_text_color_light;
      box-shadow: 0 1px 0 $g_text_color_light;
      background-color: $g_background_color;
      @include second_text (300, 14px, $g_text_color_search);

      text-indent: 17px;
    }

    .ideas_search__button {
      @include main_button (280, 40, $g_main_color);

      p {
        position: relative;
        @include main_text (500, 14px, $g_text_color_white);
        text-align: center;

        top: 14px;
      }
    }

  }
}


// Footer

footer {
  display: block;
  width: 320px;
  height: 193px;
  border-top: 4px solid $g_main_color;

  margin-top: 20px;

  .footer__subtitle {
    @include main_text (700, 14px, $g_text_color_black);
    text-align: center;

    margin-top: 12px;
    margin-bottom: 2px;
  }

  .footer__designedby {
    @include main_text (700, 10px, $g_text_color_light);
    text-transform: uppercase;
    text-align: center;

    margin-top: 17px;
    letter-spacing: 0.8px;
  }

  .footer__title {
    @include main_text (700, 16px, $g_main_color);
    text-transform: uppercase;

    text-align: center;
    letter-spacing: 0.7px;
    padding-top: 19px;
  }


  .footer__menu {
    display: block;
    text-align: center;

    li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;

        a {
          @include second_text (300, 14px, $g_text_color_body);
          text-decoration: none;
          line-height: 24px;

          &:hover {
            @include second_text (300, 14px, $g_main_color);
          }
        }
    }
  }

  .footer__logo {
    display: block;
    text-align: center;
    padding-top: 7px;
  }
}
